extension/src/**
server/src/**
test/**
docs/**
fixtures/**
manual-test-workspace/**
.vscode/**
.eslintrc.json
.mocharc.json
tsconfig.json
tsconfig.base.json
extension/tsconfig.json
server/tsconfig.json
**/*.map
**/tsconfig.tsbuildinfo
.gitignore
**/.gitkeep
esbuild.js
node_modules/**
